<tfoot id="table-footer" style="display: none">
	<tr>
		<td colspan=5 style="text-align: center"><input type="hidden"
			id="tableName" />
			<button id="selectQuery">Select</button>
			<button id="insertButton">Insert</button>
			<button id="deleteButton">Drop Table</button>
			<button id="truncateButton">Truncate Table</button></td>
	</tr>
</tfoot>
<script>
$("#insertButton").click(function() {
	let cols = "";
	let values = "";

	$("#tableWindow").$$("tr").each(r => {
		let v = r.cell(0).html();
		if(cols == "") {
			cols += "    \`" + v + "\`\n";
		} else {
			cols += "  , \`" + v + "\`\n";
		}

		if(values == "") {
			values += "    <" + v + ">\n";
		} else {
			values += "  , <" + v + ">\n";
		}
	})
	w.textEditor.text("INSERT INTO " + $("#tableName").val() + "(\n" + cols + ")\nVALUES(\n" + values +");");
})

	$("#deleteButton").click(function() {
		w.textEditor.text('DROP TABLE ' +  $('#tableName').val() + ';')
	})

	$("#truncateButton").click(function() {
		w.textEditor.text('TRUNCATE TABLE ' +  $('#tableName').val() + ';');
	})

	$("#selectQuery").click(function () {
	let cols = "";

	$("#tableWindow").$$("tr").each(r => {
		let v = r.cell(0).html();
		if(cols == "") {
			cols += "    \`" + v + "\`\n";
		} else {
			cols += "  , \`" + v + "\`\n";
		}
	})
	w.textEditor.text("SELECT \n" + cols + "FROM " + $("#tableName").val() + "\n;");
})
</script>
