<!doctype html>
<html>
<head>
<title th:text="${title}">title</title>
<th:block th:insert="~{zznotforproductiondatabase/style}"></th:block>
<script>
	window.w = {};
</script>
<script src="/database/js/commons.js"></script>
<script src="/database/js/string-ext.js"></script>
<script src="/database/js/ajax/ajax.js"></script>
<script src="/database/js/ajax/httpstatus.js"></script>
<script src="/database/js/ajax/mediatypes.js"></script>
<script src="/database/js/popup.js"></script>
<script src="/database/js/tabs.js"></script>
<script src="/database/js/simpletexteditor.js"></script>
<script src="/database/js/formsubmit.js"></script>

<script src="/database/js/token.js"></script>
<script src="/database/js/tokenize.js"></script>
<script src="/database/js/token-sql.js"></script>
<script src="/database/js/token-java.js"></script>
</head>
<body>
	<table>
		<tr>
			<td rowspan=2 style="border: 1px solid #afafaf20;" id="tableNameList">
				<div th:if="${tables.size() != 0}" class="divclass"
					th:each="tbl: ${tables}" th:text="${tbl}" th:id="${tbl}"></div>
				<div th:if="${tables.size() == 0}" class="notabledivclass"
					id="notable">No Table found</div>
			</td>
			<td style="vertical-align: top; border: 1px solid #afafaf20;">
				<div id="main-tab-window" style="width: 100%"></div>
			</td>
			<td style="vertical-align: top; border: 1px solid #afafaf20;">
				<th:block th:insert="~{zznotforproductiondatabase/desctable}"></th:block>
				<th:block th:insert="~{zznotforproductiondatabase/form}"></th:block>
			</td>
		</tr>
		<tr>
			<td colspan=2 style="vertical-align: top">
				<div>
					<div id="executionResult"></div>
				</div>
			</td>
		</tr>
	</table>
	<table id="data-table">
		<thead>
		</thead>
		<tbody></tbody>
	</table>
	<div id="edtorWindow">
		<div style="width: 100%; padding: 5px 5px">
			<th:block th:insert="~{zznotforproductiondatabase/img.execute.html}"></th:block>
			<th:block
				th:insert="~{zznotforproductiondatabase/img.createtable.html}"></th:block>
			<span id="executionTime"></span>
		</div>

		<div id="textEditor"></div>
	</div>
	<div class="history" id="history"></div>
	<div id="javaCodeWindow"></div>
	<script>
		w.tabWindow = new TabWindow("#main-tab-window").add("tab-editorWindow",
				"Editor", "#edtorWindow", true).add("tab-history", "History",
				"#history", false);
		w.textEditor = new SimpleTextEditor("#textEditor");
	</script>
	<th:block th:insert="~{zznotforproductiondatabase/javascript}"></th:block>
	<th:block th:insert="~{zznotforproductiondatabase/test}"></th:block>
</body>
</html>
