<style>
#tableNameList {
	vertical-align: top;
	min-width: 300px;
}

.divclass, .notabledivclass {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 3px;
	margin: 3px;
	cursor: pointer;
	max-width: 300px;
	width: 300px;
}

.divclass:hover {
	background: #afcfdf;
}

.history {
	height: 400px;
	width: 500px;
	border: 1px solid gold;
}

.flattable {
	border-collapse: collapse;
}

.table-def {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	max-width: 200px;
}

.table-def>thead>tr>td, .table-def>tbody>tr>td {
	border: 1px solid gold;
	font-size: small;
	overflow: hidden;
}

.table-def>thead>tr {
	background: #d5dcdd;
	font-weight: bold;
}

.table-def>tbody>tr>td {
	background: #e5fcfd;
	cursor: pointer;
}

.table-def>tbody>tr>td:hover {
	background: #537373;
}

.table-def>tbody>tr>td.other {
	background: white;
}

.column {
	border: 1px solid gold;
}

#cption {
	background: #537373;
	color: wheat;
	padding: 3px;
}

.selected-table {
	background: rgb(114, 159, 207);
}

.right-td, .left-td {
	padding: 2px;
	border-bottom: 1px solid gold;
	border-top: 1px solid gold;
}

.left-td {
	background: #537373;
	text-align: right;
	color: white;
	border-left: 1px solid gold;
	width: 100px;
}

.right-td {
	text-align: left;
}

.buttonimage {
	cursor: pointer;
	border: 1px solid #00000000;
	padding: 1px;
}

.buttonimage:hover {
	border: 1px solid gold;
}

.datatrhead td {
	background: #e0ffda;
	font-size: xx-small;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.datatr td {
	font-size: xx-small;
	border-bottom: 1px solid black;
	cursor: pointer;
}

.datatr:hover {
	background: #afafaf;
}

.execution-time {
	border-bottom: 1px solid black;
	margin: 5px;
	font-size: xx-small;
	font-style: italic;
	color: black;
}

.execution-time-another {
	border-bottom: 1px solid gray;
	margin: 5px;
	font-size: xx-small;
	font-style: italic;
	color: gray;
}

/*Create table section*/
.create-table-header-class td {
	border: 1px solid gold;
	background: #589b9b;
	padding: 3px;
	font-size: small;
}

.create-table-body-class td {
	border: 1px solid gold;
	padding: 3px;
	font-size: small;
}

.query-history {
	padding: 3px;
	width: 98%;
	background: white;
	cursor: pointer;
}

.query-history:hover {
	background: aqua;
}

#createTable {
	margin: 3px;
	border-radius: 3px;
	border: 1px solid #08f;
	background: #84c6ff;
	color: #101010;
	cursor: pointer;
	height: 24px;
	width: 100px;
}

#createTable:hover {
	border: 1px solid #080f00;
	color: #08f
}

#add-row {
	border: 1px solid #006013;
	border-radius: 3px;
	height: 24px;
	width: 80px;
	background: #bcccac;
}

#add-row:hover {
	border: 1px solid #339013;
	color: #006013;
}

/*EDITOR*/
#textEditor {
	border: 1px solid gold;
}
/*EDITOR*/

#executionTime {
	font-size:xx-small;
}

</style>
