<!doctype html>
<html>
<body>
	<script src="/database/js/commons.js"></script>
	<script src="/database/js/string-ext.js"></script>
	<script src="/database/js/divstyle.js"></script>
	<script src="/database/js/tokenize.js"></script>
	<script src="/database/js/token-render.js"></script>
	<script src="/database/js/token-java.js"></script>
	<script src="/database/js/token-sql.js"></script>
	<div id="theeditor"></div>
	<script>
	window.w = {};
	w.editor = new DivStyle(theeditor);
	w.text = `package simple.mind.dbplayer.main;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.GetMapping;

@SpringBootApplication
@ComponentScan("simple.mind.dbplayer")
@Controller
/*
 * This is a sample comment;
 */
public class DBPlayerDemo {
	public static void main(String[] args) {
		SpringApplication.run(DBPlayerDemo.class, args);
	}

	@GetMapping("/")
	public String i() {
		int x = 10;
		System.out.println(x);
		return "test" + "index";
	}
	
}
`;

	w.editor.setText(`SELECT "abc" as abc, 123.10 as num, \$\{hivevar:var\} var FROM mytable`, TokenSQL);

</script>
</body>
</html>
